
<body>
<div class="container">
  <h2>{{ title }}</h2>
  <!-- Filtros -->
  <div class="form-group">
    <label for="name">Nombre</label>
    <input [(ngModel)]="name" class="form-control" placeholder="Filtrar por nombre" />

    <label for="Club">Club</label>
    <input [(ngModel)]="club" class="form-control" placeholder="Filtrar por club" />

    <label for="Nacion">Nacion</label>
    <input [(ngModel)]="nacion" class="form-control" placeholder="Filtrar por nacion" />

    <button (click)="getPlayersPage()">Filtrar</button>
  </div>

  <!-- Tabla de jugadores -->
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Club</th>
        <th>Nación</th>
        <th>Valor en euros</th>
        <th>Edad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of players">
        <td>{{ player.long_name }}</td>
        <td>{{ player.club_name }}</td>
        <td>{{ player.nationality_name }}</td>
        <td>{{ player.value_eur }}</td>
        <td>{{ player.age }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Paginación -->
<!-- Paginación -->
<div *ngIf="totalPages > 1">
  <!-- Botón Anterior -->
  <button *ngIf="page > 1" (click)="changePage(page - 1)">Anterior</button>

  <!-- Botón numerado de la primera página -->
  <button *ngIf="page > 2" (click)="changePage(1)">1</button>

  <!-- Botón numerado de la página anterior -->
  <button *ngIf="page > 1" (click)="changePage(page - 1)">
    {{ page - 1 }}
  </button>

  <!-- Botón de la página actual -->
  <button class="active">{{ page }}</button>

  <!-- Botón numerado de la página siguiente -->
  <button *ngIf="page < totalPages" (click)="changePage(page + 1)">
    {{ page + 1 }}
  </button>

  <!-- Botón numerado de la última página -->
  <button *ngIf="page < totalPages - 1" (click)="changePage(totalPages)">{{ totalPages }}</button>

  <!-- Botón Siguiente -->
  <button *ngIf="page < totalPages" (click)="changePage(page + 1)">Siguiente</button>
</div>

 <!-- Mensaje -->
  <div class="message-info" *ngIf="players.length > 0">
  <p>Total de jugadores en resultado:{{totalPlayers}},Total de jugadores por pagina definidos:{{pageSize}}</p>
</div>

  <!-- Mensaje de error -->
  <div *ngIf="errorMessage">{{ errorMessage }}</div>

  <!-- Botones de exportación -->
  <button (click)="exportToCSV()">Exportar a CSV</button>
  <button (click)="exportToXLSX()">Exportar a XLSX</button>
</div>

</body>

<!-- <router-outlet></router-outlet> -->