
/* Estilo global: Body y fondo general */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff6ff;  /* Color de fondo suave */
}


/* Encabezado del dashboard */
h1 {
  color: #007bff;  /* Azul */
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h2 {
  color: #00799f;  /* Azul */
  font-size: 1.5rem;
  margin-bottom: 20px;
}
/* Estilo para el contenedor  seach revisar nose visualiza */
.searchId {
  width: 95%;
  margin: 10px auto;/*revisar esta linea*/
  padding: 10px;/*revisar esta linea*/
  background-color: #ffffff;  /* Fondo blanco */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  /* Sombra suave */
}
/* Estilo para el contenedor principal */
.container {
  width: 95%;
  margin: 10px auto;/*revisar esta linea*/
  padding: 10px;/*revisar esta linea*/
  background-color: #ffffff;  /* Fondo blanco */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  /* Sombra suave */
}
.player-chart-container {
  display: grid;
  grid-template-columns: 30% 70% ; 
  grid-template-rows: auto; 
  gap: 20px; 
  height: 80vh; /* Altura basada en el 80% de la altura de la pantalla */
  padding: 20px;
  box-sizing: border-box;
}

.player-details {
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  overflow-y: auto; /* Si el contenido excede, habilita el desplazamiento */
}


.chart-container {
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: flex; /* Usamos Flexbox para centrar el contenido */
  justify-content: center; /* Centra el gráfico horizontalmente */
  align-items: center; /* Centra el gráfico verticalmente */
  overflow-y: auto; 
}

/* seccion players ----------------------------------------------------------------------------*/

.form-group {
  display: flex;               /* Usa Flexbox para los elementos hijos */
  flex-wrap: wrap;             /* Permite que los elementos se ajusten a la siguiente fila si no hay suficiente espacio */
  gap: 10px;                   /* Espacio entre los elementos */
}

.form-group label {
  width: 90px;                /* Ancho fijo para las etiquetas */
  margin-right: 10px;          /* Espacio a la derecha de la etiqueta */
  display: inline-block;
}

.form-group input {
  flex: 1;                      /* Los inputs ocupan el espacio restante */
  margin-bottom: 10px;          /* Espacio debajo de los inputs */
  height: 20;
}

button {
  flex: 0 1 100px;              /* El botón tiene un ancho fijo */
  margin-top: auto;             /* Margen superior para separarlo de los inputs */
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


.error-message {
  color: red;
  font-size: 14px;
} 

/*   fin seccion players ---------------------------------------------------------- */

/* Media Query para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .player-chart-container {
    grid-template-columns: 1fr; /* En pantallas pequeñas, los dos divs se colocan en una sola columna */
    grid-template-rows: auto; /* Las filas se adaptan al contenido */
  }

  /* Opcional: Establecer altura dinámica en pantallas pequeñas */
  .chart-container {
    max-height: 300px; /* Ajusta la altura máxima del gráfico en pantallas pequeñas */
    overflow-y: auto; /* Permite desplazamiento si el gráfico es más grande */
  }
}