
/* Estilo global: Body y fondo general */
body {
  font-family: 'Arial', sans-serif;
  margin: 20px;
  
  padding: 90px;
  height: 100%;
  background-color: #d6eaf8;
  color: #333;  /* Color del texto */
  display: flex;
  justify-content: center;   /* Centra el contenido horizontalmente */
  align-items: center;  
 
}

h1 {
  color: #007bff;  /* Azul */
  font-size: 2.5rem;
  margin-bottom: 20px;

}

h2 {
  color: #00799f;  /* Azul */
  font-size: 1.5rem;
  margin-bottom: 20px; 

}



/* Estilo para el contenedor de las secciones */

.conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;   
  align-items: center;   
  border-radius: 10px;        /* Bordes redondeados */
  border: 3px solid #007bff;  /* Borde azul de 3px */
  padding: 30px;              /* Espacio dentro del contenedor */
  gap: 20px;                  /* Espacio entre los elementos internos */
  flex-wrap: wrap;            /* Permite que las secciones se envuelvan si no caben en una fila */
  background-color: white;    /* Fondo blanco */
  max-width: 600px;           /* Limita el tamaño máximo del formulario */
  margin: 40px auto ;          /* Aumenta el margen de la sección y lo centra automáticamente */
}

.image-container img {
  width: 400px;               /* Define un tamaño adecuado para la imagen */
  height: auto;               /* Mantiene la proporción de la imagen */
  border-radius: 20px;
  margin: 20px;
  padding: 40px;      
}
/* seccion players ----------------------------------------------------------------------------*/

.form-group {
  display: flex;               /* Usa Flexbox para los elementos hijos */
  flex-direction: column;
  flex-wrap: wrap;             /* Permite que los elementos se ajusten a la siguiente fila si no hay suficiente espacio */
  gap: 10px;                   /* Espacio entre los elementos */
  width: 100%;   

}


.form-group label {
  width: 90px;                /* Ancho fijo para las etiquetas */
  margin-right: 15px;          /* Espacio a la derecha de la etiqueta */

}

.form-group input {
  flex: 0 0 80%;                /* Los inputs ocupan el 80% del espacio disponible */
  margin-bottom: 10px;          /* Espacio debajo de los inputs */
  padding: 25px;
}

button {
  flex: 0 1 100px;              /* El botón tiene un ancho fijo */
  margin-top: auto;             /* Margen superior para separarlo de los inputs */
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


.error-message {
  color: red;
  font-size: 14px;
} 


/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  body {
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  height: 100%;
  background-color: #d6eaf8;
  color: #333;  /* Color del texto */
  display: flex;
  justify-content: center;   /* Centra el contenido horizontalmente */
  align-items: center;  
 
}
  .conteiner {
    display: flex;
    flex-direction: column; /* Las secciones se apilan verticalmente */
    gap: 10px; /* Menos espacio entre las secciones */
  }

}





