<section>
  <h2>Ingrese id del jugador a buscar</h2>

  <div class="searchId">
    <input [(ngModel)]="playerId" placeholder="Ingrese ID del jugador" id="playerId" />
    <button (click)="searchPlayer()">Buscar</button>
  </div>

  <div class="contenedor">
    <div class="player-container">
      <div *ngIf="player" class="player-details">
           <h2>Datos del Jugador Encontrado</h2>
        <div>
          <p><strong>Nombre:</strong> {{ player.long_name }}</p>
          <p><strong>Posición:</strong> {{ player.player_positions }}</p>
          <p><strong>Habilidad en Tiro:</strong> {{ player.shooting }}</p>
          <p><strong>Habilidad en Pase:</strong> {{ player.passing }}</p>
          <p><strong>Habilidad en Regate:</strong> {{ player.dribbling }}</p>
          <p><strong>Habilidad en Potencial:</strong> {{ player.potential }}</p>
          <p><strong>Valor overall:</strong> {{ player.overall }}</p>
        </div>
      </div>
    </div>

    <section class="updatePlayer">
      <h2>Ingrese los datos a actualizar</h2>
      <div class="container">
        
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Nombre</label>
            <input [(ngModel)]="playerData.name" name="name" class="form-control" required />
          </div>
          <div class="form-group">
            <label for="position">Posición</label>
            <input [(ngModel)]="playerData.position" name="position" class="form-control" />
          </div>
          <div class="form-group">
            <label for="club">Club</label>
            <input [(ngModel)]="playerData.club" name="club" class="form-control" />
          </div>
          <div class="form-group">
            <label for="rating">Calificación</label>
            <input [(ngModel)]="playerData.rating" name="rating" type="number" class="form-control" />
          </div>
          <div class="form-group">
            <label for="nationality">Nacionalidad</label>
            <input [(ngModel)]="playerData.nationality" name="nationality" class="form-control" />
          </div>
          <div class="form-group">
            <label for="skills">Habilidades</label>
            <input [(ngModel)]="playerData.skills" name="skills" class="form-control" />
          </div>
          <button type="submit" class="btn btn-primary">Actualizar Jugador</button>
        </form>
      </div>
    </section>
  </div>

  <div *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>
</section>
