

/* Estilo para el contenedor de las secciones */
.contenedor {
  display: flex;
  justify-content: space-between; /* Asegura que las secciones estén separadas */
  gap: 20px; /* Espacio entre las secciones */
  flex-wrap: wrap; /* Permite que las secciones se envuelvan si no caben en una fila */
}

/* Estilo para cada sección dentro del contenedor */
.player-container, .updatePlayer {
  flex: 1 1 45%; /* Las secciones ocupan el 45% del ancho, y se ajustan */
  box-sizing: border-box; /* Para que no se desborden con márgenes/paddings */
}


/* Estilo global: Body y fondo general */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff6ff;  /* Color de fondo suave */
  color: #333;  /* Color del texto */
}

h1 {
  color: #007bff;  /* Azul */
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h2 {
  color: #00799f;  /* Azul */
  font-size: 1.5rem;
  margin-bottom: 20px;
}


/* seccion players ----------------------------------------------------------------------------*/

.form-group {
  display: flex;               /* Usa Flexbox para los elementos hijos */
  flex-wrap: wrap;             /* Permite que los elementos se ajusten a la siguiente fila si no hay suficiente espacio */
  gap: 10px;                   /* Espacio entre los elementos */
}

.form-group label {
  width: 90px;                /* Ancho fijo para las etiquetas */
  margin-right: 10px;          /* Espacio a la derecha de la etiqueta */
  display: inline-block;
}

.form-group input {
  flex: 0 0 80%;                /* Los inputs ocupan el 80% del espacio disponible */
  margin-bottom: 10px;          /* Espacio debajo de los inputs */
  height: 20;
}

button {
  flex: 0 1 100px;              /* El botón tiene un ancho fijo */
  margin-top: auto;             /* Margen superior para separarlo de los inputs */
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


.error-message {
  color: red;
  font-size: 14px;
} 


/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .contenedor {
    flex-direction: column; /* Las secciones se apilan verticalmente */
    gap: 10px; /* Menos espacio entre las secciones */
  }
  .player-container, .updatePlayer {
    flex: 1 1 100%; /* Las secciones ocupan todo el ancho */
  }
}





